{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <!-- Navigation buttons for different tools -->
    <a href="{{ url_for('dashboard.packet_sniffer') }}" class="btn btn-primary">Packet Sniffer</a>
    <a href="{{ url_for('dashboard.port_scanner') }}" class="btn btn-secondary">Port Scanner</a>
    <a href="{{ url_for('dashboard.results') }}" class="btn btn-info">Results</a>
    <a href="{{ url_for('dashboard.admin') }}" class="btn btn-danger">Admin</a>

{% endblock %}

<!-- Not sure if this file is needed. -->